			<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
	<div class="content">

		<!-- Start Content-->
		<div class="container-fluid">

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								@using (Html.BeginForm("ReporteCitas", "Reportes", FormMethod.Post, new { @class = "pt-3" }))
								{
									<div class="row">
										<div class=" col-md-4">
											<label for="inputZip" class="form-label">Fecha Inicio</label>
											<input class="form-control" type="date" name="startDate" id="startDate"/>
										</div> <!-- end col -->
										<div class=" col-md-4">
											<label for="inputZip" class="form-label">Fecha Fin</label>
											<input class="form-control" type="date" name="endDate" id="endDate" />
										</div> <!-- end col -->
									</div>
									<label class="form-label" style="color:red;">@ViewBag.Message</label>
									<br/>
									<input type="submit" class="btn btn-block btn-primary" value="Generar reporte">
								}
							</div>
							<br />
							
							@if(ViewBag.AppointmentReport != null)
							{
								
								<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
									<thead>
										<tr>
											<th>Doctor</th>
											<th>Fecha</th>
											<th>Hora</th>
											<th>Cliente</th>
											<th>Motivo</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var report in ViewBag.AppointmentReport)
										{
											<tr>
												<td>@report.DoctorName</td>
												<td>@report.DayDate</td>
												<td>@report.DateHour</td>
												<td>@report.ClientName</td>
												<td>@report.DateReason</td>
											</tr>
										}

									</tbody>
								</table>
							}
							
						</div>
					</div>

				</div>
			</div>
			<!-- end row -->






		</div>
	</div>

	<!-- ============================================================== -->
	<!-- End Page content -->
	<!-- ============================================================== -->

</div>