			<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
	<div class="content">

		<!-- Start Content-->
		<div class="container-fluid">

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								@using (Html.BeginForm("ReporteCreditos", "Reportes", FormMethod.Post, new { @class = "pt-3" }))
								{
									<div class="row">
										<div class=" col-md-4">
											<label for="inputZip" class="form-label">Fecha Inicio</label>
											<input class="form-control" type="date" name="startDate" id="startDate" />
										</div> <!-- end col -->
										<div class=" col-md-4">
											<label for="inputZip" class="form-label">Fecha Fin</label>
											<input class="form-control" type="date" name="endDate" id="endDate" />
										</div> <!-- end col -->
									</div>
									<label class="form-label" style="color:red;">@ViewBag.Message</label>
									<br />
									<input type="submit" class="btn btn-block btn-primary" value="Generar reporte">
								}
							</div>
							<br />

							@if (ViewBag.TransactionsReport != null)
							{

								<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
									<thead>
										<tr>
											<th>#Crédito</th>
											<th>Fecha</th>
											<th>Total</th>
											<th>Saldo Pendiente</th>
											<th>Cliente</th>
											<th>Estado</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var report in ViewBag.TransactionsReport)
										{
											<tr>
												<td>@report.idCredit</td>
												<td>@report.dateCredit</td>
												<td>@report.totalCredit</td>
												<td>@report.totalBalance</td>
												<td>@report.clientName</td>
												<td>@report.statusP</td>
												<td>
													<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Aquí podrás visualizar las facturas abonadas." onclick="ShowInvoicesCreditsModal(@report.idClient);">
														<i class="dripicons-folder-open" style="color: black"></i>
													</a>
												</td>
											</tr>
										}

									</tbody>
								</table>
							}

						</div>
					</div>

				</div>
			</div>
			<!-- end row -->






		</div>
	</div>

	<!-- ============================================================== -->
	<!-- End Page content -->
	<!-- ============================================================== -->

</div>

<!-- Modal -->
<div class="modal fade" id="invoicesCreditsModal" tabindex="-1" aria-labelledby="invoicesCreditsModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width: 85%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="invoicesCreditsModalTitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table id="dtInvoicesCredits" class="table table-striped table-bordered dt-responsive nowrap">
					<thead>
						<tr>
							<th>#Factura</th>
							<th>#Referencia</th>
							<th>Fecha</th>
							<th>Total</th>
							<th>Total Cancelado</th>
							<th>Tipo Pago</th>
							<th>Cliente</th>
							<th>Tipo Factura</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script charset="utf-8" src="~/js/Transactions/Transactions.js"></script>